// Specific CSS for your home-page

.featured-movie {
  width: 100%;
  height: 70vh;
}

.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-wrapper {
  width: 50%;
  height: 500px;
}
