<%= render 'shared/search_box' %>
<div class="featured-movie">
  <%= render 'shared/featured', movie: Serie.second %>
</div>
<div class="movies">
  <% Movie.all.each do |movie| %>
    <div class="movie-wrapper">
      <%= render 'shared/card', movie: movie %>
    </div>
  <% end %>
</div>
